<div class="card">
  <div class="card-img-wrapper">
    <img *ngIf="property.Image" class="card-imp-Top" src="assets/Image/{{property.Image}}.png">
    <img *ngIf="!property.Image" class="card-imp-Top" src="assets/Image/property.png">
    <ul class="list-inline text-center member-icons">
      <li class="list-inline-item">
        <button routerLink="/property-details/{{property.Id}}" class="btn btn-primary">E</button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary">C</button>
      </li>
    </ul>
  </div>
    <div class="card-body p-2">
      <h1>{{property.Name}}</h1>
      <h1>{{property.Type}}</h1>
      <h1>{{property.Price}}</h1>
    </div>
  </div>
